<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d3badfb7-5eeb-4651-993e-de74d1547a57" Publisher="CN=HongYi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>NPRNews</DisplayName>
    <PublisherDisplayName>HongYi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NPRNews.App">
      <VisualElements DisplayName="NPRMusic" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="NPRMusic" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>